@import "tailwindcss";

/* Custom B&W Global Styles */
:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000; /* Hitam pekat */
  color: #ffffff;            /* Putih bersih */
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Biar scrollbar-nya tetap Black & White */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
